<div class="wrapper">
        <app-header-component></app-header-component>
        <app-sidebar></app-sidebar>
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>Employee Form</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    
                    <li class="breadcrumb-item active">Employee Form</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>
         
            <div class="alert alert-danger" role="alert" *ngIf="fail">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                   failed: {{failMessage}}
                  </div>
          <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Select Employee">
                        <section class="content">
                          <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    
                                    <div class="card-header">
                                        <h3 class="card-title">Select Employee</h3>
                        
                                        <div class="card-tools">
                                          <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                          <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                                        </div>
                                      </div>
                                    <div class="card-body">
                                        <div *ngIf="success">
                                        <div class="alert alert-primary" role="alert">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>

                                               well successful registered
                                            </div>
                                            <button class="btn btn-success" (click)="back()"><i class="fa fa-backward" aria-hidden="true"></i> BACK</button>
                                        </div>
                                         <div *ngIf="!success">

                                      <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group" style="width: 60%;">
                                                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
                                              </div>
                                        </div>
                                        <div class="col-md-3">
                                          
                                        <div class="d-flex flex-row-reverse bd-highlight mb-2">
                                            
                                            <div class="p-2 bd-highlight">
                                              <select (change)="onTableSizeChange($event)" class="custom-select">
                                                <option *ngFor="let size of tableSizes" [ngValue]="size">
                                                  {{ size }}
                                                </option>
                                              </select>
                                            </div>
                                          </div>
                                          </div>
                                      </div>
                                        
                                        <table class="table datatable" >
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>National Id</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Phone Number</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let emp of employees | filter:filterTerm | paginate : {
                                                  itemsPerPage: tableSize,
                                                  currentPage: page,
                                                  totalItems: count
                                                }; ">
                                                    <td><input  type="checkbox" (change)="select($event, emp)"></td>
                                                    <td>{{emp.natinalityID}}</td>
                                                    <td>{{emp.firstName}}</td>
                                                    <td>{{emp.lastName}}</td>
                                                    <td>{{emp.phoneNumber}}</td>
                                                    <td>{{emp.email}}</td>
                                                    <td><h6 style="background-color:royalblue; border-radius: 5px; color: white;
                                                      text-align: center;"> {{emp.role.name}}</h6></td>
                                                    
                                                </tr>
                                               
                                            </tbody>
                                        </table> 
                                        <div class="d-flex justify-content-center">
                                            <pagination-controls 
                                             
                                              previousLabel="Prev" 
                                              nextLabel="Next" 
                                              (pageChange)="onTableDataChange($event)">
                                            </pagination-controls>
                                          </div>
                                          <button type="button" style="width: 40%;" class="btn btn-primary" title="Assign Employee TO Mission" 
                                          (click)="addEmployeeToList()"><i class="fa fa-save"></i> Submit</button>
                                    </div>
                                   </div>
                                </div>
                                <!-- END DEFAULT DATATABLE -->
                            </div>
                          </div>
                        </section>
                      </mat-tab>
            <mat-tab label="Employee Selected">
              <section class="content">
                <div class="row">
                  <div class="col-12">
                      <div class="card card-primary">
                          
                          <div class="card-header">
                              <h3 class="card-title">Employee Selected</h3>
              
                              <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                              </div>
                            </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-9">
                                  <div class="form-group" style="width: 60%;">
                                      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
                                    </div>
                              </div>
                              
                            </div>
                              
                              <table class="table datatable">
                                  <thead>
                                      <tr>
                                          <th>National Id</th>
                                          <th>First Name</th>
                                          <th>Last Name</th>
                                          <th>Phone Number</th>
                                          <th>Email</th>
                                          
                                          <th>Role</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let emp of employeeSectedToMissions | filter:filterTerm ">
                                      <td>{{emp.employee.natinalityID}}</td>
                                      <td>{{emp.employee.firstName}}</td>
                                      <td>{{emp.employee.lastName}}</td>
                                      <td>{{emp.employee.phoneNumber}}</td>
                                      <td>{{emp.employee.email}}</td>
                                     
                                      <td><h6 style="background-color:royalblue; border-radius: 5px; color: white;
                                        text-align: center;"> {{emp.employee.role.name}}</h6></td>
                                      </tr>
                                     
                                  </tbody>
                              </table> 
                              
                          </div>
                      </div>
                      <!-- END DEFAULT DATATABLE -->
                  </div>
                </div>
              </section>
            </mat-tab>
          </mat-tab-group>
        </div>
      
        <!-- /.content-wrapper -->
        <app-footer-component></app-footer-component>
      </div>